@charset "UTF-8";

@media screen and ( min-width: 768px ) and ( max-width: 992px ){
    html, body {
        background-image: linear-gradient(to top, rgb(28, 30, 104), rgb(95, 120, 149));
    }

    div#leftSide {
        background-color: rgb(0, 0, 0);
        background-image: url("../pictures/pexels-motional.jpg");
        background-size: cover;
        width: 450px;
        height: 568px;
        display: block;
                background-position: center;

    }
    
    
}

@media screen and ( min-width:992px ) {
    html, body {
        background-image: linear-gradient(to top, rgb(28, 30, 104), rgb(95, 120, 149));
        width: 100vw;
    }
    div#leftSide {
        background-color: rgb(0, 0, 0);
        background-image: url("../pictures/pexels-motional.jpg");
        background-size: cover;
        width: 650px;
        height: 568px;
        display: block;
        background-position: center;
        
    }
}

/* @media screen and ( max-height: 568px) */